{default_text_template, <<"Port cancel request submitted for {{account.name}}\n\nKazoo Account ID: {{account.id}}\n\nKazoo Port ID: {{request.port_id}}\n\nKazoo Port State: {{request.port_state}}\n\nScheduled Date: {% if request.requested_port_date %}{{request.requested_port_date}}{% else %}No scheduled date{% endif %}\n\nNumbers: {% for number, _number_data in numbers %}\n{{number}}{% endfor %}{% for dc_number in request.disconnect_numbers %}\n{{dc_number}}{% endfor %}\n">>}.
{default_html_template, <<"<html><head><meta charset=\"utf-8\" /></head><body><h3>Port request for {{account.name}}</h3><h2>Account Details</h2><table cellpadding=\"4\" cellspacing=\"0\" border=\"0\"><tr><td>Account ID</td><td>{{account.id}}</td></tr><tr><td>Account Number</td><td>{{account.name}}</td></tr></table><h2>Request</h2><table cellpadding=\"4\" cellspacing=\"0\" border=\"0\"><tr><td>Kazoo Port ID</td><td>{{request.port_id}}</td></tr><tr><td>Kazoo Port State</td><td>{{request.port_state}}</td></tr><tr><td>Scheduled Date</td><td>{% if request.requested_port_date %}{{request.requested_port_date}}{% else %}No scheduled date{% endif %}</td></tr></table></body></html>">>}.
{default_subject_template, <<"Port cancel request for {{account.name}}">>}.
{default_from, <<"porting@conversant.co.nz">>}.
{default_to, <<"rt-porting@support.conversant.co.nz">>}.
